*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    background-color:#377dff;
}
.hide{
    display: none;
}
.wrapper{
    background-color: #ffffff;
    width: 90%;
    max-width: 31.25em;
    padding: 3.12em 5em;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top:1em;
    border-radius: 0.5em;

}


#container{
    background-color: bisque;
    text-align: center;
    margin-top: 300px;
}

#heading{
    text-align: center;
}


