*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    background-color:#377dff;
}
.hide{
    display: none;
}
.wrapper{
    background-color: #ffffff;
    width: 90%;
    max-width: 31.25em;
    padding: 3.12em 5em;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top:1em;
    border-radius: 0.5em;

}

.timer-display{
    font-size: 2.18em;
    text-align: center;
    font-family: "Roboto Mono", monospace;
}

/* created input flex and set its properties */
.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap :1em;
    margin-top: 2em;

}
.inputs input{
    width: 2.8em;
    font-size: 1.3em;
    border: 1px solid #000000;
    border-radius: 0.3em;
    padding: 0.4em 0.2em;
}
/* set botton */
#set{
    background-color: #377dff;
    border: none;
    padding: 0.9em 1.8em;
    display: block;
    margin: 1.5em auto 0 auto;
    border-radius: 2em;
    color: #ffffff;

}





#container{
    background-color: bisque;
    text-align: center;
    margin-top: 300px;
}

#heading{
    text-align: center;
}


